[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
c5-envelope = "==1.0.21"
cryptography = "==39.0.1"
neovim = "*"
base58 = "==2.1.1"
object-graph-streamer = "==0.0.1"

[dev-packages]

[requires]
python_version = "3.9"
